<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <title>Wikipedia images on a map</title>
    </head>
    <body>
        <div id="mapid"></div>
    </body>
</html>
