/* Modified version of Leaflet-Photo by Bjorn Sandvik */
.leaflet-marker-photo { 
    border: 2px solid #fff;
    box-shadow: 3px 3px 10px #888;
}

.leaflet-marker-photo div {
    width: 100%;  
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.leaflet-marker-photo b {
    position: absolute;
    top: -7px;
    right: -11px;
    color: #555;
    background-color: #fff;
    border-radius: 8px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    text-align: center;
    padding: 3px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

div.leaflet-marker-photo > div {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.leaflet-popup-content {
    /* Yeah, !import is dirty...but both HTML and CSS are controlled by Leaflet, so there's no other way around I know of */
    width:auto !important;
}
